<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<style> 
			body {
				background-color: blueviolet;
				font-family: cursive;

			}

			button {
				border-radius: 15px;
				background-color: orangered;
				font-size: .8rem;
				font-weight: bold;
				
			}

			li {
				line-height: 150%;
			}
			
			h1 {
				text-align: center;
				text-decoration: underline;
			}

			h2 {
				margin-left: 20px;
				text-decoration: underline;
			}

			#addBurgerDiv {
				border: 2px solid black;
				background: burlywood;
				border-radius: 15px;
			}
			form {
				width: auto;
				height: auto;
				overflow: hidden;
			}

		</style>
		<title>EAT THAT Burger!</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
