<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<style> 
			body {
				background-color: orange;
			}

			button {
				border-radius: 15px;
				background-color: blue;
				font-size: .8rem;
				font-weight: bold;
				
			}

			li {
				font-family: cursive;
				line-height: 150%;

			}
			
			h1 {
				text-align: center;
			}

			h2 {
				margin-left: 20px;
				text-decoration: underline;
			}

		</style>
		<title>EAT THAT Burger!</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
