<h1>Burgers!</h1>

<h2>Burgers that need to be ate!</h2>

<ul>
  {{#each burgers}}
    {{#unless this.eaten}}
      <li>
        {{this.name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="eaten" value="true">
          <button type="submit">EAT ME!</button>
        </form>

        
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>burgers that are eaten!</h2>

<ul>
  {{#each burgers}}
    {{#if this.eaten}}
      <li>
        {{this.name}}

      
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" name="name">
  </div>

  
  <button type="submit">Add Burger</button>
</form>
